<div class="container">
  <h2>User Settings</h2>
  <!-- ngNativeValidate allows the browser to validate each control -->
<!--  <form #form="ngForm" ngNativeValidate>-->

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">

    <div class="form-group">
      <label for="name">Name</label>
<!--      <input id="name" name="name" class="form-control" ngModel>-->

      <!-- two way binding so the intial value to get into the form as well -->
<!--      <input id="name" name="name" class="form-control" [(ngModel)]="userSettings.name">-->

<!--      <input id="name" name="name" class="form-control" [(ngModel)]="userSettings.name" pattern="B.*" minlength="3">-->
<!--      <input id="name" name="name" class="form-control" [(ngModel)]="userSettings.name" type="number" min="3" max="300">-->

<!--      <input id="name" name="name" class="form-control" [(ngModel)]="userSettings.name" required #classTest>-->
<!--      <input id="name" name="name" class="form-control" [(ngModel)]="userSettings.name" required #propertyTest="ngModel">-->

<!--      <input id="name" name="name" class="form-control" [(ngModel)]="userSettings.name" required #nameField="ngModel">-->
<!--      <div [hidden]="nameField.valid || nameField.untouched" class="alert alert-danger">Enter a name</div>-->

      <input id="name" name="name" class="form-control" [(ngModel)]="userSettings.name"
             required #nameField="ngModel"
             (blur)="onBlur(nameField)"
             [class.field-error]="form.submitted && nameField.invalid">
      <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">Enter a name</div>
    </div>

<!--    <h3>{{ classTest.className }}</h3>-->

<!--    <h3>dirty: {{ propertyTest.dirty }}</h3>-->
<!--    <h3>pristine: {{ propertyTest.pristine }}</h3>-->
<!--    <h3>touched: {{ propertyTest.touched }}</h3>-->
<!--    <h3>untouched: {{ propertyTest.untouched }}</h3>-->
<!--    <h3>valid: {{ propertyTest.valid }}</h3>-->
<!--    <h3>invalid: {{ propertyTest.invalid }}</h3>-->

        <h3>valid: {{ nameField.valid }}</h3>


    <button type="button" class="btn btn-primary" name="singleModel"
            [(ngModel)]="singleModel" btnCheckbox
            btnCheckboxTrue="On" btnCheckboxFalse="Off">
      {{singleModel}}
    </button>


    <div class="form-check form-group">
      <input class="form-check-input" type="checkbox" value="" id="emailOffers" name="emailOffers" [(ngModel)]="userSettings.emailOffers">
      <label class="form-check-label" for="emailOffers">
        Email Special Offers
      </label>
    </div>

    <p>User Interface Style</p>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="lightInterface" value="light" checked [(ngModel)]="userSettings.interfaceStyle">
        <label class="form-check-label" for="lightInterface">
          Light
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="mediumInterface" value="medium" [(ngModel)]="userSettings.interfaceStyle">
        <label class="form-check-label" for="mediumInterface">
          Medium
        </label>
      </div>
      <div class="form-check disabled">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="darkInterface" value="dark" [(ngModel)]="userSettings.interfaceStyle">
        <label class="form-check-label" for="darkInterface">
          Dark
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="subscriptionType">Subscription Type</label>
      <select class="form-control" id="subscriptionType" name="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
<!--        <option>Monthly</option>-->
<!--        <option>Annual</option>-->
<!--        <option>Lifetime</option>-->
        <option *ngFor="let type of subscriptionTypes | async">
          {{type}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea class="form-control" id="notes" name="notes" rows="3" [(ngModel)]="userSettings.notes"></textarea>
    </div>

    <div [hidden]="!postError"
         class="alert alert-danger">
      {{postErrorMessage}}
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>

<!--<h3>form: {{form.value | json}}</h3>-->
<!--<h3>userSettings: {{userSettings | json}}</h3>-->
<h3>originalUserSettings: {{originalUserSettings | json}}</h3>
